<%- include('includes/head.ejs')  %> 
<body>
    <%- include('includes/header.ejs')  %> 
    <main>
        <div class="container">
            <div class="detail_wrap w-60">
                <h2 class="mb-4"><%= activityData.name %></h2>
                <div class="img d-flex justify-content-start">
                    <img class="mb-3 w-50" src="/<%= activityData.imgUrl %> " alt="">
                </div>
                <h5>比賽照片下載: <a href="" download><%=  %></a></h5>
                <h5>比賽場地: <%= activityData.place %></h5>
                <h5>比賽地址: <%= activityData.address %></h5>
                <h5>比賽日期: <%= activityData.date %></h5>
                <h5 class="mb-1">活動描述:</h5>
                <%= activityData.desc %>
                <% if(activityData.signUpList.length !== 0) { %> 
                    <h5 class="mb-1 mt-3">參賽名單:</h5>
                    <div class="signUpList">
                        <% activityData.signUpList.forEach(user => { %>
                            <span class="m-2"><%= user.userName %></span>
                        <% }) %>  
                    </div>
                <% } %> 
                <div class="btn_wrap mt-4 d-flex justify-content-center">
                    <% if(showSignUpBtn) {%> 
                        <a href="/signup-activity/<%= activityData._id %>">
                            <button type="submit" class="btn btn-primary all_btns">報名</button>
                        </a>
                    <% } else { %>
                        <a href="/signout-activity/<%= activityData._id %>">
                            <button type="submit" class="btn btn-danger all_btns">取消報名</button>
                        </a>
                    <% } %>  
                </div>
            </div>
        </div>
    </main>
    <%- include('includes/footer.ejs')  %> 
</body>