<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <div class="container">
          <h1>所有活動</h1>
          <div class="row">
            <% if(activityData.length === 0){ %> 
              <h1 class="text-center">目前無活動</h1>
            <% } %> 
            <% activityData.forEach(item => { %>
              <div class="col-lg-3 col-4 my-3">
                <div class="card" style="width:100%;height:430px;cursor:pointer;" onclick="location.href = '/activity-detail/<%= item._id%>'">
                  <!-- <button type="button" class="edit_btn btn btn-primary" onclick="location.href = '/edit-activity/<%= item._id%>'">編輯</button> -->
                  <img src="<%= item.imgUrl %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text limit_four"><%= item.desc %></p>
                    <!-- <a href="/login" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </main>
      <%- include('includes/footer.ejs') %>
  </body>
</html>
<script>
  const edit_btns = document.querySelectorAll('.edit_btn')
  edit_btns.forEach(item => {
    item.addEventListener('click', (e) => {
      e.stopPropagation()
    })
  })
</script>